.form-groups {
  display: inline-block;
}

button {
  position: relative;
}

#center {
  display: inline-block;
}

.mx-auto {
  width: 522px;
}

.how h2 {
  margin-bottom: 50px;
}

.form-control{
  width: 33%;
  padding-top: 12px;
}

#input {
  height: 61px;
  width: 268px;
  padding-left: 14px;
  width: 33%;
  background-color: #DCDCDC;
  color: black;
  font-size: 20px;
}

#input::placeholder {
  color: gray;
}

#input-email {
  width: 66%;
  height: 61px;
  padding-bottom: 12px;
  background-color: #DCDCDC;
}

#usd, #cents, #cent, #dcn {
  height: 61px;
  background-color: #DCDCDC;
  color: black;
  padding-top: 17px;
  font-size: 20px;
}

h4 {
  margin-bottom: 10px;
}

footer {
  font-weight: normal;
}

#calc {
  height: 61px;
}

@media screen and (max-width: 767px) {
  #input {
    width: 100%;
    text-align: center;
  }
  #input-email {
    width: 100%;
    text-align: center;
  }
  #calc {
    width: 100%;
  }
  #mce-EMAIL {
    width: 100%;
  }
}

#caption {
  font-size: 15px;
}

#mce-EMAIL {
  width: 66%;
  background-color: #DCDCDC;
  color: black;
  padding-top: 6px;
  height: 61px;
}

#mce-EMAIL::placeholder {
  color: gray;
}

label {
  color: black;
  font-weight: normal;
}

#cake {
  width: 200px;
  height: 150px;
}

#label {
  font-size: 24px;
}

.form-group {
    margin-bottom: 0px;
}

.col-sm-4 {
  margin-left: 0;
  padding: 0;
}
