/*
Note: All of this CSS is for the demo only.
NONE of these styles are required for RowScroll to function properly.
*/
* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  font: 300 18px/1.5 'Roboto', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #999;
  text-decoration: none;
}
.scroll-target {
  position: relative;
  overflow: hidden;
  height: 600px; /* fallback for browsers that don't support the vh unit */
  height: 100vh;
  background: whitesmoke;
  color: #666;
  text-align: center;
}
.scroll-target:nth-of-type(2n+1) {
  background: #a8e6dd;
}
.scroll-target div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0;
  padding: 0 20px;
  z-index: 1;
}

@media (min-width: 768px) {
  .scroll-target div {
    padding: 0 50px;
  }
} /* end media query */

.scroll-target .bg-text {
  font: 300 200px/1.0 'Roboto', sans-serif;
  color: #e2e2e2;
  z-index: 0;
}
.scroll-target:nth-of-type(2n+1) .bg-text {
  color: #d3f2ee;
}
.scroll-target pre {
  width: 60%;
  overflow-x: scroll;
  margin: 18px auto 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  font-size: 14px;
  text-align: left;
}
#backToTop {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #bbb;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}
